.s-area-slide-hero {
  position: relative;
  width: 100%;
  height: 99.4rem;
  .slide-hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-slide {
      &.blue {
        .main-area {
          background: url("../img/bg-blue.svg") no-repeat center center;
          width: 100%;
          height: 70.6rem;
          background-size: cover;
          .container {
            .text {
              .image {
                .ball {
                  position: absolute;
                  left: 6.5%;
                  top: -40px;
                }
              }
            }
            .area-explore {
              .txt {
                .icon {
                  background: rgba(175, 192, 227, 0.5);
                }
              }
              .swiper-pagination{
                .input-ball{
                  &:first-child{
                    opacity: .5;
                  }
                  &:last-child{
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      &:after {
        content: "";
        width: 100%;
        height: 28.8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #eff3f6;
        z-index: 0;
        pointer-events: none;
      }
      .main-area {
        position: relative;
        background: url("../img/bg-red.svg") no-repeat center center;
        width: 100%;
        height: 70.6rem;
        background-size: cover;
        padding-top: 13.3rem;
        .container {
          position: relative;
          height: 100%;
          .text {
            .tag {
              margin: 0 auto;
            }
            h1 {
              text-align: center;
              margin-top: 2.9rem;
              margin-bottom: 8px;
            }
            p {
              text-align: center;
              color: #fff;
              font-size: 1.8rem;
              font-weight: 500;
              lin .image {
                margin-top: 10.5rem;
                margin-left: 19.2rem;
              }
            }
            .image {
              position: relative;
              z-index: 1;
              width: 100%;
              margin: 0 auto;
              margin-top: 12.2rem;
              max-width: 79.8rem;
              .lights {
                position: absolute;
                left: 50%;
                margin-left: -7.3rem;
                top: -30px;
              }
              .ball {
                position: absolute;
                left: 5.4%;
                top: 20px;
              }
            }
          }
          .area-explore {
            position: relative;
            bottom: 8rem;
            left: 0;
            width: 100%;
            margin: 0 15%;
            bottom: -90px;
            z-index: 10;
            .txt {
              position: absolute;

              p {
                position: absolute;
                left: -3px;
                color: #fff;
                font-size: 13px;
                font-weight: 500;
                line-height: 150%;
                transform: rotate(-90deg);
              }
              .icon {
                @include centerTotalFlex;
                margin-top: 80px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: rgba(201, 12, 12, 1);
                &:hover {
                  transform: scale(1.07);
                }
              }
            }
            .swiper-pagination{
              position: absolute;
              right: 30%;
              top: 90px;
              display: flex;
              gap: 10px;
              .input-ball{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
                &:last-child{
                  opacity: .5;
                }
              }
            }
          }
        }
      }
    }
  }
}
