$type-bug: #9bba48;
$type-water: #4f77be;
$type-grass: #73b861;
$type-fire: #e96303;
$type-electric: #d4bc34;
$type-ghost: #616eb7;
$type-dragon: #2c6ac1;
$type-ice: #71baac;
$type-rock: #84beb3;
$type-steel: #6594a1;
$type-psychic: #eb8b85;
$type-normal: #909090;
$type-poison: #ac6aca;
$type-ground: #ce8056;
$type-flying: #758cbd;
$type-flaire: #e296e1;
$type-dark: #595761;
$type-fighting: #c44d61;