$red-background:radial-gradient(92.5% 92.5% at 55.1% 110.7%, #AB0001 0%, rgba(171, 0, 1, 0.00) 100%);
$blue-background:radial-gradient(92.5% 92.5% at 55.1% 110.7%, #05276D 0%, rgba(76, 131, 245, 0.00) 100%);
$grey-background:linear-gradient(284deg, #EFF3F6 15.54%, rgba(239, 243, 246, 0.00) 86.34%);
$primary-color:#fff;
$black-color:#2F3133;
$dark-grey-color: #4D5053;
$light-grey-color: #EFF3F6;