.search {
  background: $light-grey-color;
  height: 288px;
  .content {
    display: flex;
    justify-content: space-between;
    width: $section-width;
    margin: 0 auto;
    h2 {
      margin-top: 129px;
      width: 265px;
      color: $dark-grey-color;
      font-family: Montserrat;
      font-size: 42px;
      font-weight: 700;
      letter-spacing: -0.32px;
    }
    label {
      background: $primary-color;
      width: 403px;
      height: 56px;
      border-radius: 122px;
      margin-top: 159px;
      padding: 3px 12px;
      input {
        width: 250px;
        padding: 5px;
        border: none;
        outline: none;
        margin-right: 83px;
        &::placeholder {
          color: $black-color;
          opacity: 0.4;
        }
      }
      button {
        margin-top: 5px;
        background: $light-grey-color;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}
