.slide {
  padding: 0 6.9375rem 0 6.9375rem;
  background: url("../../img/bg-red.svg") center center;
  background-size: cover;
  height: 44.125rem;
  header {
    margin: 0 auto;
    width: $section-width;
    display: flex;
    justify-content: space-between;
    .logo {
      margin-top: 1.6875rem;
    }
    p {
      margin-top: 3rem;
      font-size: 13px;
      color: $primary-color;
      font-weight: 400;
      strong {
        font-weight: 700;
        color: $primary-color;
      }
    }
  }
  .content {
    width: $section-width;
    margin: 0 auto;
    margin-top: 3.255622rem;
    display: flex;
    flex-direction: column;
    .bag {
      background: $primary-color;
      border-radius: 244px;
      display: flex;
      gap: 8px;
      padding: 4px 6px;
      width: 121px;
      height: 34px;
      margin-bottom: 29px;
      align-self: center;
      div {
        background-color: rgba(194, 0, 0, 0.2);
        border-radius: 50%;
        width: 26px;
        height: 26px;
        position: relative;
        img {
          position: absolute;
          left: 10%;
          top: 20%;
        }
      }
      p {
        font-size: 15px;
        color: #c20001;
        font-weight: 600;
        margin-right: 18px;
        margin-top: 3px;
      }
    }
    .text {
      align-self: center;
      h1 {
        color: $primary-color;
        font-family: Montserrat;
        font-size: 64px;
        margin-bottom: 8px;
      }
      p {
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    .BigPokeball {
      display: flex;
      justify-content: space-between;
      position: relative;
      .explore {
        position: absolute;
        bottom: -410px;
        p {
          transform: rotate(-90deg);
          margin-bottom: 70px;
          color: $primary-color;
        }
        button {
          width: 40px;
          height: 40px;
          background: rgba(201, 12, 12, 0.836);
          border: none;
          border-radius: 50%;
          margin-left: 12px;
        }
      }
      .stars {
        position: absolute;
        width: 169.042px;
        height: 57.042px;
        flex-shrink: 0;
        right: 43.6%;
        bottom: -185px;
      }
      .ball {
        position: absolute;
        bottom: -710px;
        right: 21%;
        width: 798px;
        height: 514px;
      }
    }
    .circles {
      position: absolute;
      display: flex;
      gap: 15px;
      right: 0;
      bottom: -390px;
      .circle {
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background: $primary-color;
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
